In [ ]:
!pip install pyspark==3.3.2

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = (
    SparkSession.builder.appName('Treinamento-02')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [3]:
autores = spark.read.parquet(r'C:\Meus\Projetos\Python\VsCode\Bases\DATASETS\AUTORES.parquet')
livros = spark.read.parquet(r'C:\Meus\Projetos\Python\VsCode\Bases\DATASETS\LIVROS.parquet')
clientes = spark.read.parquet(r'C:\Meus\Projetos\Python\VsCode\Bases\DATASETS\CLIENTES.parquet')
compras = spark.read.parquet(r'C:\Meus\Projetos\Python\VsCode\Bases\DATASETS\COMPRAS.parquet')
logins = spark.read.parquet(r'C:\Meus\Projetos\Python\VsCode\Bases\DATASETS\LOGINS.parquet')

In [9]:
# O comando UNION é utilizado para empilhar ou agrupar varios DF tendo eles as mesmas quantidade de colunas
auto = autores.union(autores)

auto.orderBy(F.col('titulo'))
#pode notar que como fiz o union do mesmo DF os valores foram todos duplicados

+---------+--------------------+------------------+
|       id|              titulo|             autor|
+---------+--------------------+------------------+
|106042959|               1984 |     George Orwell|
|106042959|               1984 |     George Orwell|
|017551704|200 Crônicas Esco...|       Rubem Braga|
|017551704|200 Crônicas Esco...|       Rubem Braga|
|054099410|A Alma Encantador...|       João do Rio|
|054099410|A Alma Encantador...|       João do Rio|
|128422117|A Biblioteca da M...|         Matt Haig|
|128422117|A Biblioteca da M...|         Matt Haig|
|049141399|   A Coleira do Cão |     Rubem Fonseca|
|049141399|   A Coleira do Cão |     Rubem Fonseca|
|065490862|      A Cor Púrpura |      Alice Walker|
|065490862|      A Cor Púrpura |      Alice Walker|
|029077001|A Educação Sentim...|  Gustave Flaubert|
|029077001|A Educação Sentim...|  Gustave Flaubert|
|032275599|   A Escrava Isaura |Bernardo Guimarães|
|032275599|   A Escrava Isaura |Bernardo Guimarães|
|090690941|     A Estrela Sobe |    Marques Rebelo|
|090690941|     A Estrela Sobe |    Marques Rebelo|
|095695255|  A Hora da Estrela | Clarice Lispector|
|095695255|  A Hora da Estrela | Clarice Lispector|
+---------+--------------------+------------------+
only showing top 20 rows

In [19]:
# Pode ser utilizado o UNIONBYNAME ele faz o mesmo processo porem obrigado empilhar o mesmo nome de colunas de ambos os DF
df1 = autores.select(F.col('titulo'), F.col('autor'), F.col('id'))
df2 = autores.select(F.col('autor'), F.col('titulo'), F.col('id'))

#note que tenho o mesmo DF com ordens de colunas deferente
# Com o union normal o resultado ficaria assim
df3 = df1.union(df2)

# O resultado ficou oposto tento o valor da coluna autor de um DF na coluna titulo do outro 
df3.orderBy(F.col('id'))

# Porem com o UNIONBYNAME esse problema não ira ocorrer mesmo as colunas estando em possições diferentes
df3 = df1.unionByName(df2)

df3.orderBy(F.col('id'))

+--------------------+--------------------+---------+
|              titulo|               autor|       id|
+--------------------+--------------------+---------+
|          Moby Dick |     Herman Melville|010045097|
|          Moby Dick |     Herman Melville|010045097|
|A Obscena Senhora D |         Hilda Hilst|010325500|
|A Obscena Senhora D |         Hilda Hilst|010325500|
|            Lucíola |     José de Alencar|010366161|
|            Lucíola |     José de Alencar|010366161|
|Romanceiro da Inc...|    Cecília Meireles|010409138|
|Romanceiro da Inc...|    Cecília Meireles|010409138|
|Gargântua e Panta...|   François Rabelais|010745876|
|Gargântua e Panta...|   François Rabelais|010745876|
|            Ficções |   Jorge Luis Borges|010838220|
|            Ficções |   Jorge Luis Borges|010838220|
|Journey to the En...|Louis-Ferdinand C...|011195894|
|Journey to the En...|Louis-Ferdinand C...|011195894|
|    Lavoura Arcaica |       Raduan Nassar|011247991|
|    Lavoura Arcaica |       Raduan Nassar|011247991|
|   Ópera dos Mortos |      Autran Dourado|011267609|
|   Ópera dos Mortos |      Autran Dourado|011267609|
|     O Conto da Aia |     Margaret Atwood|011576248|
|     O Conto da Aia |     Margaret Atwood|011576248|
+--------------------+--------------------+---------+
only showing top 20 rows

In [20]:
# Para remover valores duplicados pode ser utilizado esse comando
df3.drop_duplicates()

+--------------------+-----------------+---------+
|              titulo|            autor|       id|
+--------------------+-----------------+---------+
|          O Guarani |  José de Alencar|016958971|
|Romance d’a Pedra...|  Ariano Suassuna|047368307|
|      A Cor Púrpura |     Alice Walker|065490862|
|   Laços de Família |Clarice Lispector|019142836|
|As Viagens de Gul...|   Jonathan Swift|044344625|
|Cinquenta Tons de...|      E. L. James|041644195|
|O Mestre e Margar...| Mikhail Bulgákov|024027632|
|    O Som e A Fúria | William Faulkner|050336494|
|Os Melhores Conto...|  Edgar Allan Poe|069309548|
|          Viva Vaia |Augusto de Campos|034173770|
|     A Estrela Sobe |   Marques Rebelo|090690941|
|     A Terra Inútil |      T. S. Eliot|045836954|
|           Ardil-22 |    Joseph Heller|016152337|
|Gabriela, Cravo e...|      Jorge Amado|026026330|
|  Absalão, Absalão! | William Faulkner|109661324|
|   Vestido de Noiva | Nelson Rodrigues|068632465|
|Memórias Sentimen...|Oswald de Andrade|036896107|
|          Tom Jones |   Henry Fielding|058186918|
|Harry Potter e a ...|     J.K. Rowling|028971140|
|Middlemarch: Um E...|     George Eliot|077240958|
+--------------------+-----------------+---------+
only showing top 20 rows