In [ ]:
!pip install pyspark==3.3.2

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = (
    SparkSession.builder.appName('Treinamento-02')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [5]:
df = spark.read.parquet(r'C:\Meus\Projetos\Python\VsCode\Bases\DATASETS\IMC.parquet')

In [6]:
df

+--------------------+------+------+
|                nome|altura|  peso|
+--------------------+------+------+
|    Pietra Fernandes|   176| 97.88|
|   Ana Júlia da Rosa|   163| 80.56|
|    Fernando Martins|   150| 85.55|
|       Isis Silveira|   173|  70.1|
|       Cecília Porto|   190| 93.42|
|  Sra. Bruna Almeida|   198| 73.07|
|   Maria Julia Silva|   170| 71.36|
|Pedro Henrique da...|   188|105.57|
|   Davi Lucas Campos|   180| 98.49|
|      Juan Gonçalves|   175| 71.87|
+--------------------+------+------+

In [13]:
# essa função round arredonda o valor
(
    df
    .withColumn('round', F.round(F.col('peso'), 1)) # arredonda o valor para um numero com q quantidade de casas decimais desejadas
    .withColumn('ceil', F.ceil(F.col('peso'))) # arredonda o valor para um numero inteiro para cima
    .withColumn('floor', F.floor(F.col('peso'))) # arredonda o valor para um numero inteiro para baixo
)

+--------------------+------+------+-----+----+-----+
|                nome|altura|  peso|round|ceil|floor|
+--------------------+------+------+-----+----+-----+
|    Pietra Fernandes|   176| 97.88| 97.9|  98|   97|
|   Ana Júlia da Rosa|   163| 80.56| 80.6|  81|   80|
|    Fernando Martins|   150| 85.55| 85.6|  86|   85|
|       Isis Silveira|   173|  70.1| 70.1|  71|   70|
|       Cecília Porto|   190| 93.42| 93.4|  94|   93|
|  Sra. Bruna Almeida|   198| 73.07| 73.1|  74|   73|
|   Maria Julia Silva|   170| 71.36| 71.4|  72|   71|
|Pedro Henrique da...|   188|105.57|105.6| 106|  105|
|   Davi Lucas Campos|   180| 98.49| 98.5|  99|   98|
|      Juan Gonçalves|   175| 71.87| 71.9|  72|   71|
+--------------------+------+------+-----+----+-----+

In [15]:
# esta função faz com que os valores se tornen absolutos fazendo valores negativos ficar positivos
(
    df
    .withColumn('abs', F.abs(F.col('peso')))  
)

+--------------------+------+------+------+
|                nome|altura|  peso|   abs|
+--------------------+------+------+------+
|    Pietra Fernandes|   176| 97.88| 97.88|
|   Ana Júlia da Rosa|   163| 80.56| 80.56|
|    Fernando Martins|   150| 85.55| 85.55|
|       Isis Silveira|   173|  70.1|  70.1|
|       Cecília Porto|   190| 93.42| 93.42|
|  Sra. Bruna Almeida|   198| 73.07| 73.07|
|   Maria Julia Silva|   170| 71.36| 71.36|
|Pedro Henrique da...|   188|105.57|105.57|
|   Davi Lucas Campos|   180| 98.49| 98.49|
|      Juan Gonçalves|   175| 71.87| 71.87|
+--------------------+------+------+------+

In [17]:
# esta função ira fazer o calcular de elevacao de algum vaalor no caso estou elevando o peso ao quadrado(2)
(
    df
    .withColumn('pow', F.pow(F.col('peso'), 2)) 
)

+--------------------+------+------+------------------+
|                nome|altura|  peso|               pow|
+--------------------+------+------+------------------+
|    Pietra Fernandes|   176| 97.88|         9580.4944|
|   Ana Júlia da Rosa|   163| 80.56| 6489.913600000001|
|    Fernando Martins|   150| 85.55|         7318.8025|
|       Isis Silveira|   173|  70.1| 4914.009999999999|
|       Cecília Porto|   190| 93.42| 8727.296400000001|
|  Sra. Bruna Almeida|   198| 73.07| 5339.224899999999|
|   Maria Julia Silva|   170| 71.36|         5092.2496|
|Pedro Henrique da...|   188|105.57|11145.024899999999|
|   Davi Lucas Campos|   180| 98.49| 9700.280099999998|
|      Juan Gonçalves|   175| 71.87|         5165.2969|
+--------------------+------+------+------------------+

In [20]:
# esta função ira fazer o calcular a raiz quadrada
(
    df
    .withColumn('sqrt', F.sqrt(F.col('altura'))) 
)

+--------------------+------+------+------------------+
|                nome|altura|  peso|              sqrt|
+--------------------+------+------+------------------+
|    Pietra Fernandes|   176| 97.88|  13.2664991614216|
|   Ana Júlia da Rosa|   163| 80.56|12.767145334803704|
|    Fernando Martins|   150| 85.55| 12.24744871391589|
|       Isis Silveira|   173|  70.1|13.152946437965905|
|       Cecília Porto|   190| 93.42|13.784048752090222|
|  Sra. Bruna Almeida|   198| 73.07|14.071247279470288|
|   Maria Julia Silva|   170| 71.36|13.038404810405298|
|Pedro Henrique da...|   188|105.57|13.711309200802088|
|   Davi Lucas Campos|   180| 98.49|13.416407864998739|
|      Juan Gonçalves|   175| 71.87|13.228756555322953|
+--------------------+------+------+------------------+

In [28]:
# exemplo de calculo que podemos fazer com as funções
(
    df
    .withColumn('imc', 
                F.round(
                    F.pow(
                        F.col('peso'), 2
                    ) 
                    / F.col('altura'), 1
                )
               ) 
)

+--------------------+------+------+----+
|                nome|altura|  peso| imc|
+--------------------+------+------+----+
|    Pietra Fernandes|   176| 97.88|54.4|
|   Ana Júlia da Rosa|   163| 80.56|39.8|
|    Fernando Martins|   150| 85.55|48.8|
|       Isis Silveira|   173|  70.1|28.4|
|       Cecília Porto|   190| 93.42|45.9|
|  Sra. Bruna Almeida|   198| 73.07|27.0|
|   Maria Julia Silva|   170| 71.36|30.0|
|Pedro Henrique da...|   188|105.57|59.3|
|   Davi Lucas Campos|   180| 98.49|53.9|
|      Juan Gonçalves|   175| 71.87|29.5|
+--------------------+------+------+----+