In [ ]:
!pip install pyspark==3.3.2

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = (
    SparkSession.builder.appName('Treinamento-02')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate()
)

In [6]:
df = spark.read.parquet(r'C:\Meus\Projetos\Python\VsCode\Bases\DATASETS\LOGINS.parquet').select('data_de_nascimento', 'data_cadastro')

In [7]:
df

+------------------+-------------+
|data_de_nascimento|data_cadastro|
+------------------+-------------+
|        2006-12-18|   2023-02-26|
|        1992-06-17|   2023-02-16|
|        1921-11-11|   2023-01-02|
|        2021-06-01|   2023-01-08|
|        1969-10-28|   2023-02-14|
|        1986-05-19|   2023-03-07|
|        2018-04-20|   2023-01-13|
|        1996-05-12|   2023-02-04|
|        2021-10-05|   2023-03-02|
|        1917-01-05|   2023-02-21|
|        1912-05-25|   2023-01-25|
|        1920-05-26|   2023-02-18|
|        1938-03-11|   2023-01-19|
|        1922-09-01|   2023-02-01|
|        2013-01-10|   2023-01-07|
|        1992-10-16|   2023-01-05|
|        1945-11-18|   2023-01-24|
|        1915-11-15|   2023-01-22|
|        1964-02-01|   2023-02-16|
|        1959-02-01|   2023-02-25|
+------------------+-------------+
only showing top 20 rows

In [11]:
# a função add_months pode manipular o mes das datas tirando messes ou acrecentando
(
    df
    .withColumn('add_mes_+', F.add_months(F.col('data_cadastro'), 3))
    .withColumn('add_mes_-', F.add_months(F.col('data_cadastro'), -1))
)

+------------------+-------------+----------+----------+
|data_de_nascimento|data_cadastro| add_mes_+| add_mes_-|
+------------------+-------------+----------+----------+
|        2006-12-18|   2023-02-26|2023-05-26|2023-01-26|
|        1992-06-17|   2023-02-16|2023-05-16|2023-01-16|
|        1921-11-11|   2023-01-02|2023-04-02|2022-12-02|
|        2021-06-01|   2023-01-08|2023-04-08|2022-12-08|
|        1969-10-28|   2023-02-14|2023-05-14|2023-01-14|
|        1986-05-19|   2023-03-07|2023-06-07|2023-02-07|
|        2018-04-20|   2023-01-13|2023-04-13|2022-12-13|
|        1996-05-12|   2023-02-04|2023-05-04|2023-01-04|
|        2021-10-05|   2023-03-02|2023-06-02|2023-02-02|
|        1917-01-05|   2023-02-21|2023-05-21|2023-01-21|
|        1912-05-25|   2023-01-25|2023-04-25|2022-12-25|
|        1920-05-26|   2023-02-18|2023-05-18|2023-01-18|
|        1938-03-11|   2023-01-19|2023-04-19|2022-12-19|
|        1922-09-01|   2023-02-01|2023-05-01|2023-01-01|
|        2013-01-10|   2023-01-07|2023-04-07|2022-12-07|
|        1992-10-16|   2023-01-05|2023-04-05|2022-12-05|
|        1945-11-18|   2023-01-24|2023-04-24|2022-12-24|
|        1915-11-15|   2023-01-22|2023-04-22|2022-12-22|
|        1964-02-01|   2023-02-16|2023-05-16|2023-01-16|
|        1959-02-01|   2023-02-25|2023-05-25|2023-01-25|
+------------------+-------------+----------+----------+
only showing top 20 rows

In [15]:
# para pegar a data atual pode ser utilizado
(
    df
    .withColumn('data_atual', F.current_date())
    .withColumn('data_atual', F.current_timestamp())
    .withColumn('data_atual', F.current_timezone())
)

+------------------+-------------+-----------------+
|data_de_nascimento|data_cadastro|       data_atual|
+------------------+-------------+-----------------+
|        2006-12-18|   2023-02-26|America/Sao_Paulo|
|        1992-06-17|   2023-02-16|America/Sao_Paulo|
|        1921-11-11|   2023-01-02|America/Sao_Paulo|
|        2021-06-01|   2023-01-08|America/Sao_Paulo|
|        1969-10-28|   2023-02-14|America/Sao_Paulo|
|        1986-05-19|   2023-03-07|America/Sao_Paulo|
|        2018-04-20|   2023-01-13|America/Sao_Paulo|
|        1996-05-12|   2023-02-04|America/Sao_Paulo|
|        2021-10-05|   2023-03-02|America/Sao_Paulo|
|        1917-01-05|   2023-02-21|America/Sao_Paulo|
|        1912-05-25|   2023-01-25|America/Sao_Paulo|
|        1920-05-26|   2023-02-18|America/Sao_Paulo|
|        1938-03-11|   2023-01-19|America/Sao_Paulo|
|        1922-09-01|   2023-02-01|America/Sao_Paulo|
|        2013-01-10|   2023-01-07|America/Sao_Paulo|
|        1992-10-16|   2023-01-05|America/Sao_Paulo|
|        1945-11-18|   2023-01-24|America/Sao_Paulo|
|        1915-11-15|   2023-01-22|America/Sao_Paulo|
|        1964-02-01|   2023-02-16|America/Sao_Paulo|
|        1959-02-01|   2023-02-25|America/Sao_Paulo|
+------------------+-------------+-----------------+
only showing top 20 rows

In [18]:
# podemos somar datas interas tambem
(
    df
    .withColumn('add_data_+', F.date_add(F.col('data_cadastro'), 7))
    .withColumn('add_data_-', F.date_add(F.col('data_cadastro'), -2))
)

+------------------+-------------+----------+----------+
|data_de_nascimento|data_cadastro|add_data_+|add_data_-|
+------------------+-------------+----------+----------+
|        2006-12-18|   2023-02-26|2023-03-05|2023-02-24|
|        1992-06-17|   2023-02-16|2023-02-23|2023-02-14|
|        1921-11-11|   2023-01-02|2023-01-09|2022-12-31|
|        2021-06-01|   2023-01-08|2023-01-15|2023-01-06|
|        1969-10-28|   2023-02-14|2023-02-21|2023-02-12|
|        1986-05-19|   2023-03-07|2023-03-14|2023-03-05|
|        2018-04-20|   2023-01-13|2023-01-20|2023-01-11|
|        1996-05-12|   2023-02-04|2023-02-11|2023-02-02|
|        2021-10-05|   2023-03-02|2023-03-09|2023-02-28|
|        1917-01-05|   2023-02-21|2023-02-28|2023-02-19|
|        1912-05-25|   2023-01-25|2023-02-01|2023-01-23|
|        1920-05-26|   2023-02-18|2023-02-25|2023-02-16|
|        1938-03-11|   2023-01-19|2023-01-26|2023-01-17|
|        1922-09-01|   2023-02-01|2023-02-08|2023-01-30|
|        2013-01-10|   2023-01-07|2023-01-14|2023-01-05|
|        1992-10-16|   2023-01-05|2023-01-12|2023-01-03|
|        1945-11-18|   2023-01-24|2023-01-31|2023-01-22|
|        1915-11-15|   2023-01-22|2023-01-29|2023-01-20|
|        1964-02-01|   2023-02-16|2023-02-23|2023-02-14|
|        1959-02-01|   2023-02-25|2023-03-04|2023-02-23|
+------------------+-------------+----------+----------+
only showing top 20 rows

In [29]:
# para formatar data
(
    df
    .withColumn('data_format_1', F.date_format(F.col('data_cadastro'), 'dd/MM/yy'))
    .withColumn('data_format_2', F.date_format(F.col('data_cadastro'), 'dd/MM/yyyy'))
    .withColumn('data_format_3', F.date_format(F.col('data_cadastro'), 'dd/MMM/yyyy'))
    .withColumn('data_format_4', F.date_format(F.col('data_cadastro'), 'dd/MMMM/yyyy'))
    .withColumn('data_format_5', F.date_format(F.col('data_cadastro'), 'yyyyMMdd'))
)

+------------------+-------------+-------------+-------------+-------------+----------------+-------------+
|data_de_nascimento|data_cadastro|data_format_1|data_format_2|data_format_3|   data_format_4|data_format_5|
+------------------+-------------+-------------+-------------+-------------+----------------+-------------+
|        2006-12-18|   2023-02-26|     26/02/23|   26/02/2023|  26/Feb/2023|26/February/2023|     20230226|
|        1992-06-17|   2023-02-16|     16/02/23|   16/02/2023|  16/Feb/2023|16/February/2023|     20230216|
|        1921-11-11|   2023-01-02|     02/01/23|   02/01/2023|  02/Jan/2023| 02/January/2023|     20230102|
|        2021-06-01|   2023-01-08|     08/01/23|   08/01/2023|  08/Jan/2023| 08/January/2023|     20230108|
|        1969-10-28|   2023-02-14|     14/02/23|   14/02/2023|  14/Feb/2023|14/February/2023|     20230214|
|        1986-05-19|   2023-03-07|     07/03/23|   07/03/2023|  07/Mar/2023|   07/March/2023|     20230307|
|        2018-04-20|   2023-01-13|     13/01/23|   13/01/2023|  13/Jan/2023| 13/January/2023|     20230113|
|        1996-05-12|   2023-02-04|     04/02/23|   04/02/2023|  04/Feb/2023|04/February/2023|     20230204|
|        2021-10-05|   2023-03-02|     02/03/23|   02/03/2023|  02/Mar/2023|   02/March/2023|     20230302|
|        1917-01-05|   2023-02-21|     21/02/23|   21/02/2023|  21/Feb/2023|21/February/2023|     20230221|
|        1912-05-25|   2023-01-25|     25/01/23|   25/01/2023|  25/Jan/2023| 25/January/2023|     20230125|
|        1920-05-26|   2023-02-18|     18/02/23|   18/02/2023|  18/Feb/2023|18/February/2023|     20230218|
|        1938-03-11|   2023-01-19|     19/01/23|   19/01/2023|  19/Jan/2023| 19/January/2023|     20230119|
|        1922-09-01|   2023-02-01|     01/02/23|   01/02/2023|  01/Feb/2023|01/February/2023|     20230201|
|        2013-01-10|   2023-01-07|     07/01/23|   07/01/2023|  07/Jan/2023| 07/January/2023|     20230107|
|        1992-10-16|   2023-01-05|     05/01/23|   05/01/2023|  05/Jan/2023| 05/January/2023|     20230105|
|        1945-11-18|   2023-01-24|     24/01/23|   24/01/2023|  24/Jan/2023| 24/January/2023|     20230124|
|        1915-11-15|   2023-01-22|     22/01/23|   22/01/2023|  22/Jan/2023| 22/January/2023|     20230122|
|        1964-02-01|   2023-02-16|     16/02/23|   16/02/2023|  16/Feb/2023|16/February/2023|     20230216|
|        1959-02-01|   2023-02-25|     25/02/23|   25/02/2023|  25/Feb/2023|25/February/2023|     20230225|
+------------------+-------------+-------------+-------------+-------------+----------------+-------------+
only showing top 20 rows

In [32]:
# contar a diferença de dias entre duas datas
(
    df
    .withColumn('dias', F.datediff(F.current_date(), F.col('data_de_nascimento')))
)

+------------------+-------------+-----+
|data_de_nascimento|data_cadastro| dias|
+------------------+-------------+-----+
|        2006-12-18|   2023-02-26| 6296|
|        1992-06-17|   2023-02-16|11593|
|        1921-11-11|   2023-01-02|37379|
|        2021-06-01|   2023-01-08| 1017|
|        1969-10-28|   2023-02-14|19861|
|        1986-05-19|   2023-03-07|13814|
|        2018-04-20|   2023-01-13| 2155|
|        1996-05-12|   2023-02-04|10168|
|        2021-10-05|   2023-03-02|  891|
|        1917-01-05|   2023-02-21|39150|
|        1912-05-25|   2023-01-25|40836|
|        1920-05-26|   2023-02-18|37913|
|        1938-03-11|   2023-01-19|31415|
|        1922-09-01|   2023-02-01|37085|
|        2013-01-10|   2023-01-07| 4081|
|        1992-10-16|   2023-01-05|11472|
|        1945-11-18|   2023-01-24|28606|
|        1915-11-15|   2023-01-22|39567|
|        1964-02-01|   2023-02-16|21957|
|        1959-02-01|   2023-02-25|23783|
+------------------+-------------+-----+
only showing top 20 rows